<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Querido crush, informe algumas coisas sobre você</h1>

    <form action="/cadastrocrush" method="post">
        <h2>Adicionar crush</h2>
        <input name="nome" placeholder="digite o nome"><br>
        <input type="number" name="idade" placeholder="digite sua idade"><br>
        <input type="text" name="insta" placeholder="digite seu instagram"><br>
        <input type="text" name="cidade" placeholder="digite sua cidade"><br>
        <input type="text" name="login" placeholder="digite seu login"><br>
        <input type="password" name="senha" placeholder="digite sua senha"><br>

        <button>Enviar</button>
    </form>

</body>
</html>