<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="..//static//dataniver.css">
</head>
<body>
    <div class="topo">
        <h1>Saiba seu Niver - o ano que você nasceu</h1>

    </div>
    <div>
        <form action="/saberano" method="post">
            <input name="idade" type="number" placeholder="Digite sua idade">
            <button type="submit">Descobrir ano</button>
        </form>
    </div>
    <div>
        <form action="/signo" method="post">
            <input name="datanascimento" type="date" >
            <button type="submit">Ver signo</button>
        </form>

    </div>


</body>
</html>