<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minha festa</title>
</head>
<body>x
    <h1>Você é especial para mim</h1>
    <p>O niver ocorrerá no galpão da folia e todos devem ir vestidos
        com fantasia de desenho.
    </p>
    <a href="/">Voltar para a página principal</a>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1214.3768162253295!2d-38.23102536458282!3d-6.779885140090243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1745420160906!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <a href="https://maps.app.goo.gl/MRroeBstiFhz5dks8">Link do Map</a>


</body>
</html>