<!DOCTYPE html>
<html lang="en">
<head>
    <title>Minha festa</title>
    <link rel="stylesheet" href="../static/minhafesta.css">
</head>
<body>
    <div class="principal">
        <h1>Meu Niver</h1>
        <hr>

        <p>Hoje é meu dia. Mereço uma festa animada com meus amiguinhos.
        Só vão estar as pessoas queridas.</p>

    </div>
    <div class="ultima">

        <form action="/verificar" method="get">
            <label>Digite seu nome</label>
            <input type="text" name="nomepessoa">
            <button type="submit">Enviar</button>
        </form>

    </div>



</body>
</html>