<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>quarto dia</title>
    <link rel="stylesheet" href="..//static//quartodia.css">
</head>
<body>
  <div class="topo">
      <h1>Meu 3 ano</h1>
  </div>
  <div class="meio">
      <div class="cx1">
          <p>bloco 1</p>
      </div>
      <div class="cx2">
          <p>bloco 2</p>
      </div>
      <div class="cx3">
          <p>bloco 3</p>
          <img src="static//suino.png" width="170px" height="200px" alt="imagem do porquinho">
      </div>
  </div>

</body>
</html>