<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/say.css">
</head>
<body>
    <div>
        <a href="/administradora" class="botao-link">Admin</a>
    </div>
    <div class="topo">
        <h1>Hoje é o dia da nossa amiga Evilly</h1>
        <h2>Ela está esperando um pedido do seu grande amor</h2>
    </div>
    <hr>
    <div class="corpo">
        <p>Descubra se você é o sortudo que terá a oportunidade
        de estar ao lado dessa linda camponesa</p>
        <form action="/acharamor" method="post">
            <input type="text" name="candidato" placeholder="Digite seu nome">
            <button type="submit">Enviar</button>
        </form>

    </div>

</body>
</html>