<!DOCTYPE html>
<html lang="pt-BR">

  <head>
      <!-- comentário html -->
      <meta charset="UTF-8">
      <title>Projeto Suinocultura</title>
  </head>
  <body>

    <h1>Projeto dos porquinhos</h1>
    <hr>
    <p>Neste projeto, os professores estão tentando construir
    um mecanismo para etiquetar com RFID e pesar os porcos de SG</p>
    <a>Aqui estão participando alguns professores do ifpb:</a>
    <a><b>Rene, Gustavo, Davi e Adson</b></a>
    <br>
    <a href="https://www.ifpb.edu.br/" target="_blank">Link do ifpb</a>
    <br>
    <img src="static//suino.png" width="270px" height="400px" alt="imagem do porquinho">
    <br>
    <a>Esse é porquinho mais amado do país</a>
    <p>As raças de suínos mais presentes no brasil são:</p>

    <ul>
      <li>Pebranco</li>
      <li>Gilt</li>
      <li>Hampshire</li>
    </ul>

    <p>As tecnologias que usaremos no projeto são:</p>
    <ol>
      <li>RFID</li>
      <li>Sensores</li>
      <li>Esp32</li>
      <li>Linguagem C</li>
    </ol>
    <label>Digite seu nome</label>
    <input>
    <br><br>
    <a href="/maisinfo">Para saber mais informações, clique aqui</a>
  </body>
</html>
