<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="..//static//tercacodada.css">
</head>
<body>

    <div class="quadrado">
        <form action="/logar" method="post">
            <input name="loginusuario" type="text" placeholder="Digite seu login">

            <input name="senhausuario" type="password" placeholder="Digite sua senha">
                <br><br>
            <p>{{msg}}</p>
            <button type="submit">Enviar</button>

        </form>

    </div>

</body>
</html>